<div class="well well-large">
  <form name="search">
    <input type="search" class="form-control" placeholder="Search" ng-model="search.query"/>
  </form>

  <p class="label label-info pull-right" ng-show="search.query">
    <span ng-switch="totalItems">
      <span ng-switch-when="0">No questions match</span>
      <span ng-switch-when="1">One question matches</span>
      <span ng-switch-default>{{totalItems}} questions match</span>
      {{search.query}}
    </span>
  </p>
</div>

<ul ng-if="user" class="list-unstyled">
  <li>
    <a ng-href="#/questions/new" class="btn btn-default">New</a>
  </li>
</ul>

<article class="well well-lg"
         ng-repeat="question in filteredQuestions | skip:(page-1)*itemsPerPage | limitTo:itemsPerPage">

  <div ng-if="user" class="btn-group pull-right">
    <a class="btn btn-default" ng-href="#/questions/edit/{{question.$id}}">Edit</a>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a ng-href="#/questions/edit/{{question.$id}}">Edit</a>
      </li>
      <li>
        <a ng-href="#/questions/delete/{{question.$id}}"><span class="text-danger">Delete</span></a>
      </li>
    </ul>
  </div>

  <p class="lead" ng-bind-html="question.text | highlight:search.query"></p>

  <ul class="nav nav-pills">
    <li ng-class="{active: !showPieChart}">
      <a href="" ng-click="showPieChart = false">Bar Chart</a>
    </li>
    <li ng-class="{active: showPieChart}">
      <a href="" ng-click="showPieChart = true">Pie Chart</a>
    </li>
  </ul>

  <div ng-if="!showPieChart"
       d3-bar-chart data="question.choices"
       label="text"
       value="count"
       margin-top="40"
       margin-right="50"
       margin-bottom="0"
       margin-left="10"
       bar-height="40"
       label-height="30">
  </div>

  <div ng-if="showPieChart"
       d3-pie-chart data="question.choices"
       label="text"
       value="count"
       height="300">
  </div>

  <section ng-include="'questions/meta.tpl.html'"></section>
</article>

<div class="text-center">
  <pagination total-items="totalItems" page="page" max-size="maxSize"
              items-per-page="itemsPerPage" boundary-links="true" rotate="false"></pagination>
</div>
