<section class="{{action | lowercase}}-question">
    <h1>{{action}} Question</h1>

    <form>
        <div class="form-group">
            <label for="questionText">Text</label>
            <input type="text" ng-model="question.text"
                   id="questionText" class="form-control" required/>
        </div>

        <div class="form-group">
            <label>Choices</label>
            <div ng-repeat="choice in question.choices" class="input-group">
                <input type="text" ng-model="choice.text" class="form-control">
                <span class="input-group-btn">
                    <button type="button" ng-click="removeChoice($index)" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </span>
            </div>
            <button type="button" ng-click="addChoice()" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </form>
</section>
