<article ng-controller="questionShowController" ng-form="choiceForm">
    <p class="lead">{{question.text}}</p>

    <ul class="list-unstyled form-group" validation-class>
        <li ng-repeat="choice in question.choices">
            <div class="radio">
                <label class="control-label">
                    <input type="radio" ng-model="$parent.response.choices" value="{{choice.text}}"
                           ng-click="answer(question.text, choice.text)" required/>
                    {{choice.text}}
                </label>
            </div>
        </li>
    </ul>
    <span show-help when="required">Choice is required</span>

    <hr/>
</article>