<section class="panel panel-primary">
    <div class="panel-heading">
        <h3>{{action}} Question</h3>
    </div>
    <div class="panel-body">
        <form name="questionForm" novalidate>
            <div class="form-group" validation-class on="question">
                <label for="questionText" class="control-label">Text</label>
                <input type="text" ng-model="question.text" name="question"
                       id="questionText" class="form-control" required unique-question-text/>
                <span show-help on="question" when="required">Question text is required</span>
                <span show-help on="question" when="uniqueQuestionText">Question text must be unique</span>
            </div>

            <div class="form-group" ng-model="question.choices" multiple-required validation-class>
                <label class="control-label">Choices</label>
                <div ng-repeat="choice in question.choices" ng-form="choiceForm"
                     validation-class on="choice">
                    <div class="input-group">
                        <input type="text" ng-model="choice.text" name="choice"
                               class="form-control" required>
                    <span class="input-group-btn">
                        <button type="button" ng-click="removeChoice($index)" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </span>
                    </div>
                    <span show-help on="choice" when="required">Choice text is required</span>
                </div>
                <span show-help when="multipleRequired">More than one choice is required</span>
                <button type="button" ng-click="addChoice()" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>

            <ul class="list-inline">
                <li>
                    <div ng-switch="action">
                        <button type="button" ng-switch-when="New" ng-click="save()" disabled-when-invalid
                                class="btn btn-primary">Save</button>
                        <button type="button" ng-switch-default ng-click="update()" disabled-when-invalid
                                class="btn btn-primary">Update</button>
                    </div>
                </li>
                <li>
                    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                </li>
            </ul>
        </form>
    </div>
</section>
