<section class="well well-small">
    <h2>{{questionnaire.title}}</h2>

    <p class="lead">{{questionnaire.description}}</p>

    <form name="responseForm" novalidate>
        <div class="form-group" validation-class on="respondent">
            <label for="respondent" class="control-label">Respondent</label>
            <input type="text" ng-model="respondent" name="respondent"
                   id="respondent" class="form-control" required/>
            <span show-help on="respondent" when="required">Respondent is required</span>
        </div>

        <h3>Questions</h3>
        <ul class="list-unstyled">
            <li ng-repeat="question in questionnaire.questions">
                <ng-include src="'questions/question-response.tpl.html'"></ng-include>
            </li>
        </ul>

        <div class="form-group">
            <button type="button" ng-click="submit()" disabled-when-invalid
                    class="btn btn-primary">Submit</button>
            <button type="button" ng-click="cancel()"
                    class="btn btn-default">Cancel</button>
        </div>
    </form>
</section>