<section class="new-response">
    <h1>{{questionnaire.title}}</h1>

    <p class="lead">{{questionnaire.description}}</p>

    <form name="responseForm" novalidate>
        <div class="form-group" ng-class="validationClasses(responseForm.respondent)">
            <label for="respondent" class="control-label">Respondent</label>
            <input type="text" ng-model="respondent" name="respondent"
                   id="respondent" class="form-control" required/>
            <span ng-show="responseForm.respondent.$error.required"
                  class="help-block">Respondent is required</span>
        </div>

        <h2>Questions</h2>
        <ul class="list-unstyled">
            <li ng-repeat="question in questionnaire.questions">
                <ng-include src="'questions/question-response.tpl.html'"></ng-include>
            </li>
        </ul>

        <div class="form-group">
            <button type="button" ng-click="submit()" ng-disabled="!canSave(responseForm)"
                    class="btn btn-primary">Submit</button>
            <button type="button" ng-click="cancel()"
                    class="btn btn-default">Cancel</button>
        </div>
    </form>
</section>