/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
@import '../../vendor/bootstrap/less/bootstrap.less';
/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

/**
 * Structure
 */

@navbarBottomHeight: 20px;

body {
  margin-bottom: @navbarBottomHeight;
  -webkit-backface-visibility: hidden;
}

.navbar-fixed-bottom {
  min-height: @navbarBottomHeight;

  p {
    margin: 0;
  }
}

.panel-heading {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/**
 * Typography
 */

.ui-match {
  background: #c4ff00;
}

.list-inline.comma-delimited > li:after {
  content: ', ';
}

.list-inline.comma-delimited > li:last-child:after {
  content: '';
}

/**
 * Animations
 */

.help-block {
  opacity: 0;
}

.help-block.animate-show,
.help-block.animate-show-add.animate-show-add-active {
  opacity: 1;
  -moz-transition: opacity 0.3s ease 0.2s;
  -webkit-transition: opacity 0.3s ease 0.2s;
  -o-transition: opacity 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s;
}

/**
 * Charts
 */

.bar-chart {
  width: 100%;
  .bars {
    .bar {
      rect {
      }
      text {
        &.label {
        }
        &.value {
        }
      }
    }
  }
  .axis {
    .tick {
      line {
        stroke: black;
        stroke-opacity: .1;
        shape-rendering: crispEdges;
      }
    }
    text {
      text-anchor: end;
    }
    path {
      display: none;
    }
  }
}

.pie-chart {
  width: 100%;
  line {
    stroke: black;
  }
  .arc {
    path {
      stroke: white;
    }
  }
  .total {
    font-size: 2em;
  }
}

.d3-pack-chart {
  width: 100%;
  circle {
    fill-opacity: 0.25;
    stroke: white;
    stroke-opacity: 0.25;
    stroke-width: 0.5px;
  }
  .leaf circle {
    fill-opacity: 0.75;
  }
  text {
    font: 0.5em sans-serif;
  }
}

/**
 *  Animations
 */

.view-animation {
  &.ng-enter,
  &.ng-leave {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  &.ng-enter {
    -webkit-animation: 0.5s slideInRight 0.25s;
    -moz-animation: 0.5s slideInRight 0.25s;
    -o-animation: 0.5s slideInRight 0.25s;
    animation: 0.5s slideInRight 0.25s;
  }
  &.ng-leave {
    -webkit-animation: 0.25s slideOutLeft;
    -moz-animation: 0.25s slideOutLeft;
    -o-animation: 0.25s slideOutLeft;
    animation: 0.25s slideOutLeft;
  }
}

.alert-animation {
  &.ng-enter,
  &.ng-leave {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    -o-backface-visibility: visible !important;
    backface-visibility: visible !important;
  }
  &.ng-enter {
    -webkit-animation: 0.5s slideInRight;
    -moz-animation: 0.5s slideInRight;
    -o-animation: 0.5s slideInRight;
    animation: 0.5s slideInRight;
  }
  &.ng-leave {
    -webkit-animation: 0.25s slideOutLeft;
    -moz-animation: 0.25s slideOutLeft;
    -o-animation: 0.25s slideOutLeft;
    animation: 0.25s slideOutLeft;
  }
}

.hide-animation {
  &.ng-hide-add,
  &.ng-hide-remove {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    display: block !important;
    opacity: 1;
  }
  &.ng-hide {
    opacity: 0;
  }
}

.repeat-animation {
  &.ng-enter,
  &.ng-leave,
  &.ng-move {
    -webkit-backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    -o-backface-visibility: visible !important;
    backface-visibility: visible !important;
  }
  &.ng-enter {
    -webkit-animation: 0.5s flipInX;
    -moz-animation: 0.5s flipInX;
    -o-animation: 0.5s flipInX;
    animation: 0.5s flipInX;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    -webkit-animation: 0.5s flipOutX;
    -moz-animation: 0.5s flipOutX;
    -o-animation: 0.5s flipOutX;
    animation: 0.5s flipOutX;
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
  &.ng-move {
    -webkit-animation: 0.5s flipInX;
    -moz-animation: 0.5s flipInX;
    -o-animation: 0.5s flipInX;
    animation: 0.5s flipInX;
    opacity: 0.5;
  }
  &.ng-move.ng-move-active {
    opacity: 1;
  }
}

.chart-animation {
  &.ng-leave,
  &.ng-enter,
  &.ng-hide {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    -o-backface-visibility: visible !important;
    backface-visibility: visible !important;
  }
  &.ng-enter,
  &.ng-hide-add,
  &.ng-hide-remove {
    -webkit-animation: 1s flipInY;
    -moz-animation: 1s flipInY;
    -o-animation: 1s flipInY;
    animation: 1s flipInY;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    -webkit-animation: 1s flipInY 1s;
    -moz-animation: 1s flipInY 1s;
    -o-animation: 1s flipInY 1s;
    animation: 1s flipInY 1s;
    opacity: 0;
  }
  &.ng-hide-add {
    display: none !important;
  }
  &.ng-hide-remove {
    display: block !important;
  }
}

/**
 * Key Frames
 */

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes slideInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@-moz-keyframes slideOutLeft {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}

@-o-keyframes slideOutLeft {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInX {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInX {
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutX {
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutX {
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipOutX {
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  50% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipOutX {
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  50% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  50% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInY {
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    -moz-transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    -moz-transform: perspective(400px) rotateY(10deg);
  }

  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInY {
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    -o-transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    -o-transform: perspective(400px) rotateY(10deg);
  }

  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    transform: perspective(400px) rotateY(10deg);
  }

  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/questionnaires/questionnaires.less';
@import '../app/questions/questions.less';
@import '../app/responses/responses.less';

