<div class="well well-large">
  <form name="search">
    <input type="search" class="form-control" placeholder="Search" ng-model="search.query"/>
  </form>

  <p class="label label-info pull-right" ng-show="search.query">
    <span ng-switch="totalItems">
      <span ng-switch-when="0">No questionnaires match</span>
      <span ng-switch-when="1">One questionnaire matches</span>
      <span ng-switch-default>{{totalItems}} questionnaires match</span>
      {{search.query}}
    </span>
  </p>
</div>

<ul ng-if="user" class="list-unstyled">
  <li>
    <button ui-sref="questionnaireNew" class="btn btn-default">New</button>
  </li>
</ul>

<article class="well well-lg repeated-item"
         ng-repeat="questionnaire in filteredQuestionnaires | skip:(page-1)*itemsPerPage | limitTo:itemsPerPage">

  <div class="btn-group pull-right">
    <button class="btn btn-default" ui-sref="questionnaireShow({id: questionnaire.$id})">Show</button>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a ui-sref="questionnaireShow({id: questionnaire.$id})">Show</a>
      </li>
      <li ng-if="user">
        <a ui-sref="questionnaireEdit({id: questionnaire.$id})">Edit</a>
      </li>
      <li ng-if="user && questionnaire.published">
        <a ui-sref="responseNew({id: questionnaire.$id})">Respond</a>
      </li>
      <li ng-if="user">
        <a ng-click="destroy(questionnaire.id)"><span class="text-danger">Delete</span></a>
      </li>
    </ul>
  </div>

  <h3 ng-bind-html="questionnaire.title | highlight:search.query"></h3>

  <p ng-bind-html="questionnaire.description | highlight:search.query" class="lead"></p>

  <div class="row">
    <div ng-if="questionnaire.questions" class="col-md-10">
      Questions <span class="badge">{{questionnaire.questions.length}}</span>
    </div>
    <div ng-switch="questionnaire.published" class="col-md-2 text-right">
      Published?
      <span ng-switch-when="true"><i class="glyphicon glyphicon-ok"></i></span>
      <span ng-switch-default><i class="glyphicon glyphicon-remove"></i></span>
    </div>
  </div>

</article>

<div class="text-center">
  <pagination total-items="totalItems" page="page" max-size="maxSize"
              items-per-page="itemsPerPage" boundary-links="true" rotate="false"></pagination>
</div>
