<article class="well well-lg">
  <div class="btn-group pull-right">
    <a class="btn btn-default" ng-href="#/questionnaires/edit/{{questionnaire.$id}}">Edit</a>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-if="user">
        <a ng-href="#/questionnaires/edit/{{questionnaire.$id}}">Edit</a>
      </li>
      <li ng-if="user && questionnaire.published">
        <a ng-href="#/responses/new/{{questionnaire.$id}}">Respond</a>
      </li>
      <li ng-if="user">
        <a href="" ng-click="destroyQuestionnaire(questionnaire.$id)"><span class="text-danger">Delete</span></a>
      </li>
    </ul>
  </div>

  <h3>{{questionnaire.title}}</h3>

  <div class="row">
    <p class="lead col-md-10">{{questionnaire.description}}</p>

    <p ng-switch="questionnaire.published" class="col-md-2 text-right">
      Published?
      <span ng-switch-when="true"><i class="glyphicon glyphicon-ok"></i></span>
      <span ng-switch-default><i class="glyphicon glyphicon-remove"></i></span>
    </p>
  </div>

  <p ng-if="!questionnaire.questions" class="text-info">There are no questions</p>

</article>

<ul class="list-unstyled">
  <li ng-repeat="id in questionnaire.questions" class="dn-flip-x">
    <article ng-controller="questionShowCtrl" class="well well-lg">
      <p class="lead">{{question.text}}</p>

      <div toggle-collapse="false">
        <div toggle-label>
          Choices <span class="badge">{{question.choices.length}}</span>
        </div>
        <div toggle-body>
          <ol class="list-group">
            <li ng-repeat="choice in question.choices" class="list-group-item">
              {{choice.text}} <span class="badge">{{choice.count}}</span>
            </li>
          </ol>
        </div>
      </div>
    </article>
  </li>
</ul>
