<p class="lead">{{questionnaire.title}}</p>

<p>{{questionnaire.description}}</p>

<p ng-switch="questionnaire.published">
  Published?
  <span ng-switch-when="true"><i class="glyphicon glyphicon-ok"></i></span>
  <span ng-switch-default><i class="glyphicon glyphicon-remove"></i></span>
</p>

<h3>Questions</h3>
<ul class="list-unstyled">
  <li ng-repeat="questionId in questionnaire.questions">
    <article ng-controller="QuestionShowCtrl">
      <p class="lead">{{question.text}}</p>

      <ol>
        <li ng-repeat="choice in question.choices">{{choice.text}}</li>
      </ol>

      <hr/>
    </article>
  </li>
</ul>
<p ng-if="!questionnaire.questions" class="text-info">There are no questions</p>

<ul class="list-inline">
  <li>
    <a ui-sref="questionnaireList" class="btn btn-link">Back</a>
  </li>
  <li>
    <a ui-sref="questionnaireEdit({id: questionnaire.id})" class="btn btn-link">Edit</a>
  </li>
</ul>
