<article class="well well-lg">
  <button ng-if="user" ui-sref="questionnaireEdit({id: questionnaire.id})"
          class="btn btn-default pull-right">Edit
  </button>

  <div class="page-header">
    <h3>{{questionnaire.title}}</h3>
  </div>

  <p class="lead">{{questionnaire.description}}</p>

  <p ng-switch="questionnaire.published">
    Published?
    <span ng-switch-when="true"><i class="glyphicon glyphicon-ok"></i></span>
    <span ng-switch-default><i class="glyphicon glyphicon-remove"></i></span>
  </p>

  <div class="page-header">
    <h3>Questions</h3>
  </div>
  <ul class="list-unstyled">
    <li ng-repeat="questionId in questionnaire.questions">
      <article ng-controller="questionShowCtrl">
        <p class="lead">{{question.text}}</p>

        <div toggle-collapse="false">
          <div toggle-label>
            Choices <span class="badge">{{question.choices.length}}</span>
          </div>
          <div toggle-body>
            <ol class="list-group">
              <li ng-repeat="choice in question.choices" class="list-group-item">{{choice.text}}</li>
            </ol>
          </div>
        </div>

        <hr/>
      </article>
    </li>
  </ul>
  <p ng-if="!questionnaire.questions" class="text-info">There are no questions</p>

</article>