<section class="panel panel-primary">
    <div class="panel-heading">
        <h3>{{questionnaire.title}}</h3>
    </div>
    <div class="panel-body">
        <p class="lead">{{questionnaire.description}}</p>

        <p ng-switch="questionnaire.published">
            Published?
            <span ng-switch-when="true"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-switch-default><i class="glyphicon glyphicon-remove"></i></span>
        </p>

        <h3>Questions</h3>
        <ul class="list-unstyled">
            <li ng-repeat="question in questionnaire.questions">
                <ng-include src="'questions/question-show.tpl.html'"></ng-include>
            </li>
        </ul>
        <p ng-if="!questionnaire.questions" class="text-info">There are no questions</p>

        <ul class="list-inline">
            <li>
                <a ng-href="#/questionnaires/list" class="btn btn-link">Back</a>
            </li>
            <li>
                <a ng-href="#/questionnaires/edit/{{questionnaire.id}}" class="btn btn-link">Edit</a>
            </li>
        </ul>
    </div>
</section>
