<section class="questionnaires">
    <h1>Questionnaires</h1>

    <form name="search">
        <input type="search" class="form-control" placeholder="Search" ng-model="search.query"/>
    </form>

    <a ng-href="#/questionnaires/new" class="btn btn-link">New</a>

    <article class="questionnaire" ng-repeat="questionnaire in questionnaires">
        <ul class="list-unstyled pull-right">
            <li>
                <a ng-href="#/questionnaires/show/{{questionnaire.id}}" class="btn btn-link">Show</a>
            </li>
            <li>
                <a ng-href="#/questionnaires/edit/{{questionnaire.id}}" class="btn btn-link">Edit</a>
            </li>
            <li>
                <a ng-href="#/questionnaires/delete/{{questionnaire.id}}" class="btn btn-link">Delete</a>
            </li>
            <li>
                <a ng-href="#" class="btn btn-link">Respond</a>
            </li>
        </ul>
        <p class="lead">{{questionnaire.title}}</p>

        <p>{{questionnaire.description}}</p>

        <p class="text-muted">
            Questions #: {{questionnaire.questions.length}}<br/>
            Responses #: {{questionnaire.responses.length}}<br/>
            Published? {{questionnaire.published}}
        </p>

        <hr/>
    </article>
</section>
