<section class="questionnaires">
    <h2>Questionnaires</h2>

    <form name="search">
        <input type="search" class="form-control" placeholder="Search" ng-model="search.query"/>
    </form>

    <p class="label label-info pull-right" ng-show="search.query">
        <span ng-switch on="filteredQuestionnaires.length">
            <span ng-switch-when="0">No questionnaires match</span>
            <span ng-switch-when="1">One questionnaire matches</span>
            <span ng-switch-default>{{filteredQuestionnaires.length}} questionnaires match</span>
            {{search.query}}
        </span>
    </p>

    <p>
        <a ng-href="#/questionnaires/new" class="btn btn-link btn-sm">New</a>
    </p>

    <article class="questionnaire"
             ng-repeat="questionnaire in filteredQuestionnaires = (questionnaires | filter:isMatch)">

        <ul class="list-unstyled pull-right text-right">
            <li>
                <a ng-href="#/questionnaires/show/{{questionnaire.$id}}"
                   class="btn btn-link btn-sm">Show</a>
            </li>
            <li>
                <a ng-href="#/questionnaires/edit/{{questionnaire.$id}}"
                   class="btn btn-link btn-sm">Edit</a>
            </li>
            <li>
                <a ng-href="#/questionnaires/delete/{{questionnaire.$id}}"
                   class="btn btn-link btn-sm">Delete</a>
            </li>
            <li ng-if="questionnaire.published">
                <a ng-href="#/responses/new/{{questionnaire.$id}}"
                   class="btn btn-link btn-sm">Respond</a>
            </li>
        </ul>

        <p class="lead">{{questionnaire.title}}</p>

        <p>{{questionnaire.description}}</p>

        <p class="text-muted">
            <span ng-if="questionnaire.questions">
                Questions # {{questionnaire.questions.length}}<br/>
            </span>
            <span ng-switch on="questionnaire.published">
                Published?
                <span ng-switch-when="true"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-switch-default><i class="glyphicon glyphicon-remove"></i></span>
            </span>
        </p>

        <hr/>
    </article>
</section>
