<div class="well well-large">
  <form name="search">
    <input type="search" class="form-control" placeholder="Search" ng-model="search.query"/>
  </form>

  <p class="label label-info pull-right" ng-show="search.query">
    <span ng-switch="totalItems">
      <span ng-switch-when="0">No responses match</span>
      <span ng-switch-when="1">One response matches</span>
      <span ng-switch-default>{{totalItems}} responses match</span>
      {{search.query}}
    </span>
  </p>
</div>

<article class="response"
         ng-repeat="response in filteredResponses | skip:(page-1)*itemsPerPage | limitTo:itemsPerPage">

  <ul class="list-inline pull-right">
    <li>
      <a ng-click="destroy(response.id)" class="btn btn-link">Delete</a>
    </li>
  </ul>

  <p class="lead" ng-bind-html="response.questionnaire | highlight:search.query"></p>

  <p class="lead">
    <strong>Respondent</strong>
    <span ng-bind-html="response.respondent | highlight:search.query"></span>
  </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Question</th>
      <th>Choice</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="answer in response.answers">
      <td class="col-md-6">{{answer.question}}</td>
      <td class="col-md-6">{{answer.choice}}</td>
    </tr>
    </tbody>
  </table>

  <hr/>
</article>

<div class="text-center">
  <pagination total-items="totalItems" page="page" max-size="maxSize"
              items-per-page="itemsPerPage" boundary-links="true" rotate="false"></pagination>
</div>
