<form name="responseForm" novalidate>
  <article class="well well-lg">
    <h3>{{questionnaire.title}}</h3>

    <p class="lead">{{questionnaire.description}}</p>

    <div class="form-group" validation-class on="respondent">
      <label for="respondent" class="control-label">Respondent</label>
      <input type="text" ng-model="respondent" name="respondent"
             id="respondent" class="form-control" required/>
      <span show-help on="respondent" when="required">Respondent is required</span>
    </div>
  </article>


  <ul class="list-unstyled">
    <li ng-repeat="id in questionnaire.questions" class="repeat-animation">
      <article ng-controller="questionShowCtrl" ng-form="choiceForm" class="well well-lg">
        <p class="lead">{{question.text}}</p>

        <ul ng-if="question.multiple" class="list-unstyled form-group">
          <li ng-repeat="choice in question.choices">
            <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" ng-model="checked"
                       ng-true-value="{{choice.text}}"
                       ng-change="multipleChoice(question, checked, $index)"/>
                {{choice.text}}
              </label>
            </div>
          </li>
        </ul>

        <ul ng-if="!question.multiple" class="list-unstyled form-group" validation-class>
          <li ng-repeat="choice in question.choices">
            <div ng-hide="question.multiple" class="radio">
              <label class="control-label">
                <input type="radio" ng-model="$parent.checked" value="{{choice.text}}"
                       ng-change="singleChoice(question, $parent.checked)" required/>
                {{choice.text}}
              </label>
            </div>
          </li>
        </ul>
        <span show-help when="required">Choice is required</span>
      </article>
    </li>
  </ul>

  <ul class="list-inline">
    <li>
      <button ng-click="submit()" disabled-when-invalid class="btn btn-primary">Submit</button>
    </li>
    <li>
      <a ng-href="#/responses/list" class="btn btn-default">Cancel</a>
    </li>
  </ul>
</form>
